<div class="mcs-settings" id="mcs_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Multi-Chat Send</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <label class="checkbox_label">
                <input id="mcs_setting_return" type="checkbox">
                <span>Возвращаться в исходный чат после отправки</span>
            </label>
            <label class="checkbox_label">
                <input id="mcs_setting_generate" type="checkbox">
                <span>Генерировать ответы моделей в целевых чатах (по умолчанию)</span>
            </label>
            <label class="checkbox_label">
                <input id="mcs_setting_exclude_current" type="checkbox">
                <span>Исключать текущий чат из списка получателей</span>
            </label>
        </div>
    </div>
</div>
